<b>We received your appeal.</b> This letter is to let you know that the
Massachusetts Health Connector has received your appeal about your
eligibility for health insurance programs.
<br><br>We are currently processing your appeal and will contact you with more
information, including next steps to resolve your appeal. If your appeal
request is invalid, the Health Connector will tell you how to amend your appeal
to make it valid.
<br><br><b>You may continue to receive any tax credits</b> you were told you
qualify for while your appeal is processed. Please note that, if you were told
you qualify for tax credits, you must select a health insurance plan and enroll
in it in order to use those tax credits. Please go to MAhealthconnector.org or
call Customer Service at 1-877 MA ENROLL to enroll in a plan.
<br><br><b>Please note:</b> any tax credits you receive to help pay for your
health insurance during this appeal may have to be paid back, if it turns out
that you did not qualify for them.
<br><br><b>Important:</b> if this letter contains any additional forms, please
fill them out and return them to the Health Connector. This may help resolve
your appeal faster.
<br><br><b>If you have any questions</b> regarding the appeal process, please
contact the Health Connector Appeals Unit at 617-933-3164.