<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Front end to the Appeals Database">
    <meta name="author" content="Brady Walsh">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/img/favicon.ico">

    <!-- BootStrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" >
    {{ block "styles" . }}{{ end }}
    {{ template "_shim.html" . }}
</head>
<body>
    {{ template "_header.html" . }}
    {{ template "content" . }}
    {{ template "_footer.html" . }}
    <!-- Need to keep the javascript in this order --> 
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    {{ block "script" . }} {{ end }}
</body>
</html>